#circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #000;
}

#circle-in {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 180px;
    height: 180px;
}

#picker {
    position: absolute;
    top: 50%;
    left: 0%;
    height: 30px;
    margin-top: -15px;
    width: 100%;
    /*-webkit-transform-origin: center left;
       		-moz-transform-origin: center left;
            -ms-transform-origin: center left;
    		-o-transform-origin: center left;*/
    transform-origin: center center;
    transform: rotate(-122deg);
}

.arrow-img {
    position: absolute;
    transform: translate(0,-50%);
    width: 100%;
    left: 0;
    top: 50%;
    padding: 10px;
    box-sizing: border-box;
}

    .arrow-img img {
        width: 100%;
        margin-top: -13px;
    }

#picker-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    margin: 0 3px 0 auto;
    cursor: move;
    pointer-events: none;
}

#picker-circle {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin: 0px -6px 0 auto;
    cursor: move;
    background-color: red;
    transform: rotate(122deg);
    position: relative;
    z-index: 999;
    text-align: center;
    line-height: 2.5;
    color: #ffffff;
    font-weight: 600;
}

.arrow-img-inner {
    transform: rotate(115deg);
}

#path4 {
    width: 70%;
    margin: 15%;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    transition: .5s;
    transform-origin: center;
}

    #path4:before {
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 1;
    }

#circle-in img {
    width: 70%;
    margin: 15%;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    transition: .5s;
}

#circle:hover #circle-in img {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    animation-name: abc;
}

@keyframes mymove {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}
